{% extends 'base.html' %}

{% block app_content %}
<h1>Stock Details</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">SN</th>
			<th scope="col">Stock Name</th>
			<th scope="col">Stock Price</th>
		</tr>
	</thead>
	<tbody>
		{% for stock in stocks %}
		<tr>
			<th scope="row">{{ stock.id }}</th>
			<td>{{ stock.name }}</td>
			<td id="price{{ stock.id }}">{{ stock.price }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
	$(function() {
		function loadPrice() {
			$.get('/status', function(data) {
				var stock_data = $.parseJSON(data)
				console.log(stock_data)
				for (var i = 0; i < stock_data.length; i++) {
					$('#price' + stock_data[i]['id']).text(stock_data[i]['price']);
					if (stock_data[i]['price'] == null) {
						setInterval(loadPrice, 5000);
					}
				}
				
			});
		}
		//loadPrice();
		setInterval(loadPrice, 10000);
	});
</script>


{% endblock %}