{% extends 'base.html' %}

{% block app_content %}
<h1>Stock Details</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">SN</th>
			<th scope="col">Stock Name</th>
			<th scope="col">Stock Price</th>
		</tr>
	</thead>
	<tbody>
		{% for stock in stocks %}
		<tr>
			<th scope="row">{{ stock.id }}</th>
			<td>{{ stock.name }}</td>
			<td id="{{ stock.id }}_price">{{ stock.price }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
	$(function() {
		$.ajax({
			type: 'GET',
			url: '/stock'
			success: $.getJson(function(data) {
				if (data['id'] && data['price']) {
					$(data['id']+'_price').text(data['price']);
				}
			},
			error: function() {
				alert('Unexpected error');
			});
		});
	});
</script>


{% endblock %}